@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/*html, body {*/

/*    margin: 0;*/
/*    height: 100%;*/
/*    overflow: hidden;*/
/*    font-family: 'Roboto' !important;*/
/*    color: white;*/
/*    font-size: 9px;*/
/*}*/

#magic {
    position: fixed;
    width: 100%;
    height: 100%;
    display: block;
    top: 0;
    left: 0;
    z-index: -9;
    background-color: transparent;
    opacity: 0.9;
}

.playground{

    position: fixed;
    width: 100%;
    height: 100%;
    display: block;
    top: 0;
    left: 0;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;


}

.marquee span, .marquee b {
    color: white !important;
}





@media only screen and (max-width: 900px) {
    #magic {
        display: none;  /* Hide the box on mobile devices */
    }
}




/*.bottomPosition{*/

/*    text-align: center;*/
/*    margin-bottom: 50px;*/

/*}*/
/*.minText{*/

/*    font-size: 14px;*/
/*}*/

/*a {*/
/*    color: white;*/
/*    font-size: 12px;*/
/*    text-decoration: none;*/
/*}*/

/*.logo {*/
/*    width: 50px;*/
/*    height: 50px;*/
/*}*/


